<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <!-- MAIN -->
    <main class="hovering__main">
      <div class="hovering__main__hero">

        <!-- INFORMATION CONTAINER -->
        <div>
          <div id="mobile__menu__overlay__button__id" class="mobile__menu__overlay__button">
            <span class="mobile__span"></span>
            <span class="mobile__span"></span>
            <span class="mobile__span"></span>
          </div>
            
          <div id="hovering__information__container" class="articles__link hovering__information__container">
            <a class="question__mark__link" href="https://neverfapdeluxe.com/"><i class="far fa-question-circle"></i></a>
            <div class="hovering__state__container">
              <h4>State</h4>
              <div class="hovering__state--app"> 
                <div id="hovering__state--app--initial" class="hovering__state hovering__state--selected">Initial</div>
                <div id="hovering__state--app--started" class="hovering__state">Started</div>
                <div id="hovering__state--app--ended" class="hovering__state">Completed</div>
              </div>
              
              <h4>Hover State</h4>
              <div id="hovering__state--button" class="hovering__state">Not Hovering</div>

              <h4>Timer</h4>
              <div class="hovering__timer__container hovering__state">
                <div id="hovering__timer" class="hovering__timer">0:00</div>
              </div>    
            </div>
          </div>      
        </div>
          
        <!-- HOVERING BUTTON -->
        <div class="hovering__center">
          <div id="hovering__button__container" class="hovering__button__container">
            <div id="hovering__button" class="hovering__button">
            </div>  
            <div id="hovering__button__text" class="hovering__button__text">hover</div>
          </div>

          <div id="hovering__toast__container" class="hovering__toast__container">
            <div id="hovering__toast__text" class="hovering__toast__text">
              Your reached 1 minute.
            </div>
          </div>
  
          <!-- HOVERING MESSAGE -->
          <div class="hovering__message__container">
            <div id="hovering__message" class="hovering__message">
              <p>Hover on the button to begin.</p>
            </div>
          </div>
        </div>
              
        <!-- WHAT IS HOVERING? -->
        <!-- <div class="hovering__what__is__container">
          <div id="hovering__what__is" class="hovering__what__is">
            <a href="https://neverfapdeluxe.com/" class="articles__link">What is Hovering?</a>
          </div>
        </div> -->

      </div>
    </main>
  </body>

  <script>
    // hovering tally. 
    // You can input a time. 
    // Timed. Non-timed. 

    // selectors 
    var hovering__toast__container = document.querySelector('#hovering__toast__container');
    var hovering__toast__text = document.querySelector('#hovering__toast__text');
    var hovering__information__container = document.querySelector('#hovering__information__container');
    var hovering__button__container = document.querySelector('#hovering__button__container');
    var hovering__button__text = document.querySelector('#hovering__button__text');
    var hovering__button = document.querySelector('#hovering__button');
    var hovering__message = document.querySelector('#hovering__message');
    var hovering__message__secondary = document.querySelector('#hovering__message__secondary');
    var hovering__timer = document.querySelector('#hovering__timer');
    var hovering__stateAPP = document.querySelector('#hovering__state--app');
    var hovering__stateBUTTON = document.querySelector('#hovering__state--button');

    var hovering__stateAppInitial = document.querySelector('#hovering__state--app--initial');
    var hovering__stateAppStarted = document.querySelector('#hovering__state--app--started');
    var hovering__stateAppEnded = document.querySelector('#hovering__state--app--ended');

    var APP_STATE_INITIAL = 'INITIAL';
    var APP_STATE_STARTED = 'STARTED';
    var APP_STATE_ENDED = 'ENDED';

    var APP_MODE_STANDARD = 'STANDARD';
    var APP_MODE_TIMER = 'TIMER';

    var INITIAL_SCALE_STATE = 0.06;
    var END_SCALE_STATE = 1;
    var SCALE_RATE = 0.0001;

    // state
    var appState = APP_STATE_INITIAL; // initial, started, ended
    var appMode = APP_MODE_STANDARD;
    var appHover = false;

    var timer = 0;
    var timerSetInterval = null;
    var sizeSetInterval = null;

    // scale state
    var scaleState = INITIAL_SCALE_STATE;
    var increasingScale = true;
    var fadeTimer = 0;

    // events
    document.addEventListener('keydown', function(event) {
      
      if (event.keyCode === 13) whenPressspaceKey();
      if (event.keyCode === 32) event.preventDefault(); whenPressspaceKey();
    }, false);
    hovering__button__container.onmouseover = whenMouseOverButton;
    hovering__button__container.onmouseout = whenMouseOutButton;
    
    function whenPressspaceKey(event) {
      switch(appState) {
        case APP_STATE_INITIAL: {
          if (appHover !== true) return;
          addClass(hovering__information__container, 'fade__element');
          addClass(hovering__message, 'fade__element');
        
          timerSetInterval = setInterval(startTimer, 1000);
          sizeSetInterval = setInterval(increaseSize, 100);

          setInnerText(
            hovering__message,
            '<p>Leave your cursor stationary within the circle, with your hand still attached.</p>' +
            '<p>The app will prompt you at minute intervals.</p>' +
            '<p>I recommend you hover for 10 minutes per session.</p>'
          );

          setAppState(APP_STATE_STARTED);        
          break;
        }
        case APP_STATE_STARTED: {
          // if (appHover !== true) return;
          endHovering();
          break;
        }
        case APP_STATE_ENDED: {
          resetHovering();
          break;
        }
        default: {
          throw new Error('whenMouseOutButton - appState incorrect');
        }
      }
    }

    function whenMouseOverButton(event) {
      setHoverState(true)
      addClass(hovering__button__text, 'hovering__button__text--during');

      
      switch(appState) {
        case APP_STATE_INITIAL: {
          setInnerText(
            hovering__message,
            '<p>Press space to start hovering.</p>'
          );
          break;
        }
        case APP_STATE_STARTED: {
          endHovering();
          break;
        }
        case APP_STATE_ENDED: {
          setInnerText(hovering__timer, fancyTimeFormat(0));
          hovering__button.style.transform = 'scale(' + INITIAL_SCALE_STATE + ')';
          scaleState = INITIAL_SCALE_STATE;
          break;
        }
        default: {
          throw new Error('whenMouseOverButton - appState incorrect');
        }
      }
    }

    function whenMouseOutButton(event) {
      setHoverState(false)
      removeClass(hovering__button__text, 'hovering__button__text--during');

      switch(appState) {
        case APP_STATE_INITIAL: {
          setInnerText(
            hovering__message,
            '<p>Hover on the button to begin.</p>'
          );
          break;
        }
        case APP_STATE_STARTED: {
          endHovering();
          break;
        }
        case APP_STATE_ENDED: {
          setInnerText(hovering__timer, fancyTimeFormat(0));
          hovering__button.style.transform = 'scale(' + INITIAL_SCALE_STATE + ')';
          scaleState = INITIAL_SCALE_STATE;
          break;
        }
        default: {
          throw new Error('whenMouseOutButton - appState incorrect');
        }
      }
    }

    function endHovering() {
      removeClass(hovering__information__container, 'fade__element');
      removeClass(hovering__message, 'fade__element');

      setInnerText(
        hovering__message,
        '<p>Your session has ended. Press space to restart and try again!</p>' +
        '<p>You hovered for ' + fancyTimeFormat(timer) + '.</p>'
      );
      timer = 0;

      clearInterval(timerSetInterval);
      clearInterval(sizeSetInterval);

      setAppState(APP_STATE_ENDED);
    }

    function resetHovering() {
      if (appHover === true) {
        setInnerText(
          hovering__message, 
          '<p>Press space to start hovering.</p>'
        );
      } else {
        setInnerText(
          hovering__message, 
          '<p>Hover on the button to begin.</p>'
        );
      }

      setInnerText(hovering__timer, fancyTimeFormat(0));
      hovering__button.style.transform = 'scale(' + INITIAL_SCALE_STATE + ')';
      scaleState = INITIAL_SCALE_STATE;

      setAppState(APP_STATE_INITIAL);
    }
 
    function startTimer(event) {
      timer += 1;
      fadeTimer -= 1;
      setInnerText(hovering__timer, fancyTimeFormat(timer))
      
      if (fadeTimer === 0) {
        removeClass(hovering__toast__container, 'fade__element');
      }

      if (timer % 60 === 0) {
        fadeTimer = 7;
        var minutes = timer / 60;
        addClass(hovering__toast__container, 'fade__element');
        setInnerText(hovering__toast__text, 'You reached ' + (minutes === 1 ? minutes + ' minute' : minutes + ' minutes'));
      }
    }

    function increaseSize(event) {      
      if (increasingScale && scaleState < END_SCALE_STATE) {
        hovering__button.style.transform = 'scale(' + (scaleState + SCALE_RATE) + ')';
        scaleState += SCALE_RATE;
      } 
      if (increasingScale && scaleState > END_SCALE_STATE) {
        increasingScale = false;
      }

      if (!increasingScale && scaleState > INITIAL_SCALE_STATE) {
        hovering__button.style.transform = 'scale(' + (scaleState - SCALE_RATE) + ')';
        scaleState -= SCALE_RATE;
      }
      if (!increasingScale && scaleState < INITIAL_SCALE_STATE) {
        increasingScale = true;
      }
    }

    function setAppState(state) {
      appState = state;

      switch(state) {
        case APP_STATE_INITIAL: {
          addClass(hovering__stateAppInitial, 'hovering__state--selected');
          removeClass(hovering__stateAppStarted, 'hovering__state--selected');          
          removeClass(hovering__stateAppEnded, 'hovering__state--selected');
          break;
        }
        case APP_STATE_STARTED: {
          removeClass(hovering__stateAppInitial, 'hovering__state--selected');
          addClass(hovering__stateAppStarted, 'hovering__state--selected');          
          removeClass(hovering__stateAppEnded, 'hovering__state--selected');
          break;
        }
        case APP_STATE_ENDED: {
          removeClass(hovering__stateAppInitial, 'hovering__state--selected');
          removeClass(hovering__stateAppStarted, 'hovering__state--selected');          
          addClass(hovering__stateAppEnded, 'hovering__state--selected');
          break;
        }
        default: {
          throw new Error('setAppState - state incorrect');
        }
      }
    };

    function setHoverState(state) {
      appHover = state;
      hovering__stateBUTTON.textContent = state ? 'Hovering' : 'Not Hovering';
    };
    
  </script>

  <!-- util.js -->
  <script>

    function addClass(element, className) {
      element.classList.add(className);
    };

    function removeClass(element, className) {
      element.classList.remove(className);
    };

    function setInnerText(element, text) {
      element.innerHTML = text;
    }

    function fancyTimeFormat(time) {
      // Hours, minutes and seconds
      var hrs = ~~(time / 3600);
      var mins = ~~((time % 3600) / 60);
      var secs = ~~time % 60;

      // Output like "1:01" or "4:03:59" or "123:03:59"
      var ret = "";

      if (hrs > 0) {
          ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
      }

      ret += "" + mins + ":" + (secs < 10 ? "0" : "");
      ret += "" + secs;
      return ret;
    }
  </script>


  <!-- <script>
    overlay__button.onclick = function(event) {
      overlayState = true;
      overlay.style.display = 'block';
      overlay__background.style.display = 'block';
      // overlay__background__colour.style.background = 'lightgrey';
    }
  </script> -->
</html>

